@charset "UTF-8";
/* CSS Document created by Breanna Bush, October 5,2017*/

/* ---------------------------HTML Tag Styles----------------------------- */
body {
  margin: auto;
  padding: auto;
  color: #333;
  font-family: 'Times New Roman', cursive;
}
p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5em;
}
h1 {
  padding: 20px 0;
}
h2 {
  padding: 20px 0;
  font-weight: bold;
}
h3 {
  padding: 20px 0;
  font-weight: bold;
}
a:link {
	color: #000;
}
a:visited {
	color: #dddddd;
}
a:hover {
	color: #58A623;
	text-decoration: none;
}

/* --------------------------Page Sections---------------------------- */
#splash {
   	background: #A9A9A9;
   	background-size: cover;  
	height: auto;
}

#index {
	padding: 10px;
   	background-color: #0000;
	color: #222;
    text-align: center;
}

#experience {
	padding: 40px 0 60px 0;
    height: px;
    background: #0000;
	color: #222;
    text-align: center;
}

#resume {
	padding: 40px 0 60px 0;	
    background-color: #0000;
	color: #222;
    text-align: center;
}

#footer{
    padding: 5px 5px 5px 5px;
  	background-color: #58A623;
  	color: #222;
    text-align: center;
}

/* ----------------Container Styles----------------- */
.container {
  width: auto;
  margin: auto;
  overflow: hidden;
}
/* -----------------Navigation Bar Styles-------------------*/ 

#navbar{
    position: wrap;
    text-align: center;
    display: inline-block;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #58A623;
    border-bottom: 2px solid #000000;
}	
ul#menu {
	list-style: none;
	padding-top: 20px 100px 20px 100px;
} 
ul#menu li {
	padding-bottom: 20px;
    display: inline-block;
    text-align: center;
} 
ul#menu li a.button {
	font-size: 16px;
	text-decoration: none;
	padding: 20px 100px 20px 100px; 
}
ul#menu li a.button:hover {
	background-color: rgba(42, 188, 238, 0.1);
}

/* ----------------Title Page Styles------------------- */

#title-page{
  width: 100%;
  padding-top: auto;
  color: #000;
  text-align: center;
}
#title-page h1 {
  font-family: 'Times New Roman', cursive;
  font-size: 50px;
}
#title-page p {
  font-size: 19px;
  font-style: normal;
  margin: 0 40px;
  padding-bottom: 0px;
}

/* -------------------Footer Credits--------------------- */

#credits {
  text-align: center;	
}
#credits table{      
  margin: 0 auto;
}
#credits p {
  font-size: 1em;
  margin: 0;
}

/* ----------------------Misc-------------------*/
.fltright{
	float:right;
	margin: 20px;
}
.fltleft{
	float:left;
	margin: 20px 20px 20px 0;
}