body{
    margin: 0px;
    padding: 0px;
}

section#nav-bar{
    background-color: grey;
    padding: 30px;
}

.nav{
    display: flex;
    color: red;
}

.nav-one{
    margin-left: 30px;
}

h1{
    margin-bottom: 20px;
    font-size: 30px;
    color: lime;
}

.list ul{
    display: flex;
    list-style: none;
    margin-left: 400px;
    padding: 10px;
    font-size: 20px;
    color: red;
}

.hom{
    margin-left: 10px;
}

.abo{
    margin-left: 20px;
}

.exper{
    margin-left: 30px;
}

.resu{
    margin-left: 40px;
}

a{
    text-decoration: none;
    color: white;
}

/* #header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 40px;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.nav {
    background-color: aqua;
    position: sticky;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-flex;
}

.nav-one {
    margin-left: 30px;
}

h1{
    margin-bottom: 20px;
    font-size: 30px;
    color: lime;
}

.nav li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.list ul {
    background-color: rgb(36, 4, 251);
    padding: 0;
    margin: 0;
   display: inline-flex;
}

.list ul li {
    border: 1px solid #eee;
}

.list ul li a {
    background-color: black;
    color: white;
    padding: 10px 0 10px 0;
    display: block;
    text-decoration: none;
}

.list ul li a:hover {
    background-color: white;
    color: black;
}

#minimenu {
    display: none;
    float: right;
    margin-right: 20px;
    font-size: 36px;
    margin-top: 5px;
    cursor: pointer;
}

.section {
    background-color: beige;
    min-height: 100px;
    padding-top: 25px;
    overflow: hidden;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}

.section article {
    padding: 15px;
	text-align: center;
    background-color: lightsteelblue;
}

footer{
	background-color: beige;
	text-align: center;
}

@media screen and (max-width:680px) {
    #home {
        background-color: beige;
    }
    #minimenu {
        display: block !important;
        float: right;
    }
    .nav {
        display: none;
        width: 100%;
    }
    .nav ul li {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:640px) {
    #home {
        background-color: beige;
    }
	#minimenu {
        display: block !important;
        float: right;
    }
    .nav {
        display: none;
        width: 100%;
    }
    .nav ul li {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:480px) {
    #home {
        background-color: beige;
    }
 	#minimenu {
        display: block !important;
        float: right;
    }
    .nav {
        display: none;
        width: 100%;
    }
    .nav ul li {
        width: 100%;
        text-align: center;
    }
} */