@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
	background-color: cadetblue;
	font-family: 'Indie Flower', cursive;
}

.brder {
	border: 1px black solid;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
}

img{
	max-width: 100%;
}

header {
	padding: 10px 0;
	clear: both;
	text-align: center;
}

nav {
	clear: both;
	text-align: center;
	padding: 10px 0;
	margin: 10px 0 0;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0 10px;
}

nav li {
	display: inline-block;
}

nav a {
	background-color: azure;
	display: block;
	padding: 10px;
	text-decoration: none;
	color: black;
}

nav a:hover {
	background-color: black;
	color: white;
}

#main {
	width: 100%;
}

#first {
	background-color: #ddd;
	padding: 5px;
}

#second {
	background-color: #fff;
	padding: 5px;
}

footer {
	clear: both;
	background-color: #222;
	text-align: center;
	padding-top: 35px;
	color: #CCC;
}

@media screen and (min-width: 1200px){
	.wrapper {
		max-width: 1100px;
	}
}

@media screen and (min-width: 800px){
	header {
		text-align: center;
	}
	body {
		background-color: red;
	}
	nav {
		float: left;
		width: 20%;
	}
	#main {
		float: right;
		width: 80%;
	}
	nav li {
		display: block;
		padding: 10px 0px;
		width 90%;
	}
	nav {
		padding: 0px;
	}
	nav ul {
		padding: 0px;
		margin: 0;
	}
}

@media screen and (min-width: 520px){
	#first{
		width: 48%;
		float: left;
	}
	#second{
		width: 48%;
		float: right;
	}
}