@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

#header {
	position: fixed;
	background-color: white;
	width: 100%;
	height: 80px;
	top: 0px;
	left: 0px;
	/*z-index: 2;*/
}

.nav {
	float: right;
	font-family: 'Arial';
	text-transform: uppercase;
}

.nav ul {
	padding: 0;
	margin: 0;
}

.nav ul li {
	float: left;
	list-style-type: none; /*gets rid of the bullet points*/
	border: 1px solid #eee;
}

.nav ul li a {
	background-color: black;
	color: white;
	padding: 10px; /*gives some space between the links*/
	display: block;
	text-decoration: none;/*gets rid of the underline*/
}

.nav ul li a:hover {
	background-color: white;
	color: black;
}

#branding {
	width: 200px;
	height: 50px;
	float: left;
	background: url('http://lorempixel.com/output/business-q-g-301-63-4.jpg') no-repeat center center;
	background-size: 200px;
}

#minimenu {
	display: none;
	float: right;
	margin-right: 20px;
	font-size: 36px;
	margin-top: 5px;
	cursor: pointer;
}

.section:nth-child(even){
	background-color: #dddddd;
}

.section {
	min-height: 1000px;
	padding-top: 100px;
	overflow: hidden;
	/*position: relative;*/
	font-family: 'Tangerine', cursive;
}

.section article {
	padding: 15px;
	background-color: rgba(255,255,255,0.8)
}

#about{
	background: url('http://lorempixel.com/output/city-q-c-1460-1010-7.jpg') no-repeat;
	background-size: cover;
}

#products{
	background: url('http://lorempixel.com/output/business-q-c-1460-1010-6.jpg') no-repeat;
	background-size: cover;
}

@media screen and (max-width:980px){
	#home {
		background-color: aqua;
	}
	#minimenu {
		display: block;
	}
	.nav {
		display: none;
		width: 100%;
	}
	.nav ul li {
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width:640px){
	#home {
		background-color: red;
	}
}

@media screen and (max-width:480px){
	#home {
		background-color: green;
	}
}