@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
#header {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 40px;
    top: 0px;
    left: 0px;
    /*z-index: 2;*/
}

.nav {
    float: right;
    font-family: 'Arial';
    text-transform: uppercase;
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav ul li {
    float: left;
    list-style-type: none;
    border: 1px solid #eee;
}

.nav ul li a {
    background-color: black;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.nav ul li a:hover {
    background-color: white;
    color: black;
}

#branding {
    width: 200px;
    height: 40px;
    float: left;
    background: url('http://lorempixel.com/output/business-q-g-301-63-4.jpg') no-repeat center center;
    background-size: 200px;
}

#minimenu {
    display: none;
    float: right;
    margin-right: 20px;
    font-size: 36px;
    margin-top: 5px;
    cursor: pointer;
}

img{
    width: 75%;
    height: 75%;
}

.section:nth-child(even) {
    background-color: #dddddd;
}

.section {
    min-height: 1000px;
    padding-top: 100px;
    overflow: hidden;
    /*position: relative;*/
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

#projects ul li{
        list-style-type: none;
}

#projects{
    text-align: center;
}

@media screen and (max-width:680px) {
    #home {
        background-color: aqua;
    }
    #minimenu {
        display: block !important;
        float: right;
    }
    .nav {
        display: none;
        width: 100%;
    }
    .nav ul li {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:640px) {
    #home {
        background-color: red;
    }
}

@media screen and (max-width:480px) {
    #home {
        background-color: green;
    }
}