body {
    background-color: beige;
    color: #111;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

#header {
    border: 1px solid black;
    height: 120px;
    position: relative;
    background-color: dimgray;
    color: azure;
}

#navbar ul {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: darkgrey;
    width: 100%;
    margin: 0;
    padding: 0;
}

#navbar li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
}

#navbar a {
    line-height: 100%;
    padding: 10px;
    color: white;
    background-color: black;
    display: block;
    text-decoration: none;
}

#navbar a:hover {
    color: black;
    background-color: white;
}

#logo {
    position: absolute;
    left: 10px;
    top: 10px;
}

#logo div {
    font-size: 28px;
}

#search {
    position: absolute;
    width: 150px;
    right: 30px;
    bottom: 15px;
    z-index: 50;
}

#maincontainer {
    margin-top: 10px;
}

#content {
    background-color: white;
    width: 65%;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
}

#content img {
    float: right;
}

#sidebar {
    background-color: #333;
    width: 32%;
    float: right;
    color: white;
    text-align: center;
}

#sidebar p {
    text-align: left;
}

#footer {
    clear: both;
    width: 100%;
    color: azure;
    text-align: center;
    height: 200px;
}

#footer section{
    width: 30%;
    height: 100%;
    padding: 10px;
}

#footer section:first-child {
    background-color: red;
    float: left;
}

#footer section:nth-child(2){
    background-color: green;
    float: right;
}

#footer section:last-child {
    background-color: blue;
    margin: auto;
}
@media screen and (max-width: 840px){
    #header {
        background-color: #444;
        height: auto;
    }
    #logo {
        position: static;
        margin: 5px;
    }
    #navbar ul {
        position: static;
    }
    #search {
        top: 5px;
        height: 30px;
    }
    #content {
        width: 100%;
        margin: 0;
        float: left;
        padding: 0px;
    }
    #sidebar{
        width: 100%;
        margin: 0;
        float: left;
    }
}

@media screen and (max-width: 480px) {
    #wrapper {
        min-width: 480px;
    }
    .nosmall {
        display: none;
    }
}
}
