body{
	font-family: serif;
}

#wrapper{
	max-width: 1180px;
}

footer{
	background-color: black;
	color: white;
	min-height: 100px;
	padding: 45px;
	clear: both;
}

#header{
	background-color: #ddd;
	border-color: black;
	float: left;
	width: 100%;
	margin: 0 0 40px 0;
	padding-top: 10px;
}

#header div{
	padding: 10px;
}

#header h1{
	padding: 0;
	margin: 0;
	line-height: 45px;
}

nav{
	padding: 10px 0 0;
	margin-bottom: 10px;
}

nav ul{
	padding: 0;
	list-style: none;
	margin: 0;
}

nav li{
	display: inline-block;
}

nav a{
	padding: 5px 10px;
	background-color: #ddd;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

nav a.selected,
nav a:hover{
	color: white;
	background-color: darkgrey;
}

@media screen and (min-width:480px){
	#primary{
		width: 60%;
		background-color: white;
		float: left;
	}
	#secondary{
		width: 35%;
		background-color: darkgrey;
		float: right;
	}
	#header nav{
		text-align: center;
		margin-bottom: 15px;
		background-color: black;
		line-height: 60px;
	}
	nav a {
		padding: 15px; 10px;
	}
}

@media screen and (min-width:720px){
	#header nav{
		width: 45%;
		float: right;
		text-align: right;
	}
	#header div{
		width: 45%;
		float: left;
	}
	#wrapper{
		margin: 0 auto;
		padding: 0 4%;
	}
}
